<nav class="navbar navbar-light bg-light">
	<div class="container mt-4">
		<a class="navbar-brand" href="/houses">
			<img
				src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399114/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/logo-airbnb.png"
				width="100"
				height="40"
			/>
		</a>
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<button
				class="btn btn-outline-secondary me-md-2"
				class="btn btn-outline-secondary"
				type="button"
			>
				<span>
					<img
						class="avatar"
						src="https://randomuser.me/api/portraits/men/11.jpg"
						alt=""
					/>
				</span>
				Tony Russo
			</button>
			<button class="btn btn-outline-secondary" type="button">
				Logout
			</button>
		</div>
	</div>
</nav>
