<nav class="navbar navbar-light bg-light">
	<div class="container mt-4">
		<a class="navbar-brand" href="/houses">
			<img
				src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399114/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/logo-airbnb.png"
				width="100"
				height="40"
			/>
		</a>
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			{{#if user}}
			<a class="btn btn-outline-secondary me-md-2"
				class="btn btn-outline-secondary"
				 href="/profile">{{user.name}}
				 <img
						class="avatar"
						src="{{user.avatar}}"

					/>

	  	</a>
			<button class="btn btn-outline-secondary" class="btn btn-outline-secondary me-md-2">
				<a href="/auth/logout">Logout</a>
			</button>
			{{else}}
			<button class="btn btn-outline-secondary" class="btn btn-outline-secondary me-md-2">
				<a href="/auth/login">Login</a>
			</button>
		</div>
	</div>
	{{/if}}
</nav>
