<div class="card">
	<img
		src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399115/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/thailand.jpg"
		class="card-img"
		alt="..."
	/>
	<div class="card-img-overlay">
		<div class="container">
			<div class="row">
				<div class="col"></div>
				<div class="col mt-5">
					<div class="card authentication" style="width: 25rem;">
						<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399114/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/logo-airbnb.png"
						class="card-img-top img-thumbnail no-border logo-lg"" alt="..."
						/>
						<div class="card-body">
							<form>
								<div class="mb-3">
									<label for="exampleFormControlInput1" class="form-label"
										>Email address</label
									>
									<input
										type="email"
										class="form-control mb-3"
										id="exampleFormControlInput1"
									/>
									<div class="mb-3">
										<label for="exampleFormControlInput1" class="form-label"
											>Password</label
										>
										<input
											type="password"
											class="form-control"
											id="exampleFormControlInput1"
										/>
									</div>
								</div>
								<a href="#" class="btn btn-primary mb-3">Login</a>
							</form>
							<small>New to AirBnB?</small>
							<a href="#" class="card-link">Sign Up</a>
						</div>
					</div>
				</div>
				<div class="col"></div>
			</div>
		</div>
	</div>
</div>
