<div class="card">
	<img
		src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399115/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/thailand.jpg"
		class="card-img"
		alt="..."
	/>
	<div class="card-img-overlay">
		<div class="container signup">
			<div class="row">
				<div class="card" style="width: 850px; height: 650px">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399114/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/logo-airbnb.png"
						class="card-img-top img-thumbnail no-border logo-lgr"
					/>
					<div class="card-body">
						<form>
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label"
									>Your Full Name</label
								>
								<input
									type="text"
									class="form-control required mb-4"
									id="exampleFormControlInput1"
								/>
								<label for="exampleFormControlInput1" class="form-label"
									>Profile Picture</label
								>
								<input
									type="url"
									class="form-control required mb-4"
									id="exampleFormControlInput1"
									placeholder="http://"
								/>
								<label
									for="exampleFormControlInput1"
									class="form-label required"
									>Email address</label
								>
								<input
									type="email"
									class="form-control required mb-4"
									id="exampleFormControlInput1"
								/>
								<div class="mb-3">
									<label for="exampleFormControlInput1" class="form-label"
										>Password</label
									>
									<input
										type="password"
										class="form-control required mb-5"
										id="exampleFormControlInput1"
									/>
								</div>
							</div>
							<a href="#" class="btn btn-primary mb-3">Login</a>
						</form>
						<small>New to AirBnB?</small>
						<a href="#" class="card-link">Sign Up</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
