<nav class="navbar navbar-light bg-light">
	{{>nav}}
</nav>
<div class="container mt-3">
	<h1>List a House</h1>
	<form>
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label"
				>Short Title</label
			>
			<input type="text" class="form-control" required />
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label"
				>Description</label
			>
			<textarea
				class="form-control"
				id="exampleFormControlTextarea1"
				rows="6"
				min
				length="20"
				required
			></textarea>
		</div>
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label"
				>Number of Rooms</label
			>
			<input type="number" class="form-control" required />
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label"
				>Location</label
			>
			<select class="form-select" aria-label="Default select example">
				<option selected>KohSamui</option>
				<option value="1">Koh Phagnan</option>
				<option value="2">Bangkok</option>
				<option value="3">Bali</option>
			</select>
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label"
				>Price(per night)</label
			>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">$</span>
				<input
					type="number"
					class="form-control"
					aria-label="price"
					aria-describedby="basic-addon1"
					min="1"
				/>
			</div>
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label"
					>Add Photos(up to 9)</label
				>
				<input
					type="url"
					class="form-control mb-1"
					placeholder="http://"
					required
				/>
				<input type="url" class="form-control mb-1" placeholder="http://" />
				<input type="url" class="form-control mb-1" placeholder="http://" />
				<input type="url" class="form-control mb-1" placeholder="http://" />
				<input type="url" class="form-control mb-1" placeholder="http://" />
				<input type="url" class="form-control mb-1" placeholder="http://" />
				<input type="url" class="form-control mb-1" placeholder="http://" />
				<input type="url" class="form-control mb-1" placeholder="http://" />
				<input type="url" class="form-control mb-1" placeholder="http://" />
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>
